body,
html {
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

#data-table {
  margin: 0 auto;
  max-width: 600px;
}

.table-wrapper {
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  box-shadow: 1px 4px 9px 2px rgb(143 132 132 / 15%);
  scroll-behavior: smooth;
}

.table-container {
  position: relative;
}

.table-container > .plank::after {
  position: absolute;
  transition: all 1sec ease-in;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255)
  );
  content: "";
  z-index: 0;
  width: 4rem;
  top: 0;
  height: 100%;
  right: 0.5px;
  border-radius: 0 0.5rem 0.5rem 0;
}
.table-container > .plank {
  cursor: pointer;
}

.table-container > .plank:hover::after {
  transition: all 1sec ease-in;
  cursor: e-resize;
  box-shadow: -3px 0px 4px 0px #dddddd78;
  /* border-left: 1px solid #ddd; */
}

.row-data {
  width: auto;
  padding: 1rem 0;

  display: block;
  overflow: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  border-bottom: 2.5px solid transparent;
}

.row-data:hover,
.row-data:active,
.row-data:focus {
  overflow-x: auto;
  border-bottom: none;
}

.row-data::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.row-data::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #f5f5f5;
}

.row-data::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236);
  border: 1px solid #e9e9e9;
}

.pagination-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.pagination-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #f5f5f5;
}

.pagination-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236);
  border: 1px solid #e9e9e9;
}

tr.row-line:nth-child(even) {
  background-color: #fff4f4;
}

td.row-item {
  padding: 0.5rem 1rem;
}

th.table-head {
  padding: 1rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

th.table-head > .row-header--chevron {
  padding-left: 0.75rem;
  cursor: pointer;
}

/* table head > chevron */

th.table-head > .row-header--chevron.down::before {
  color: rgb(68, 192, 68);
  transform: rotate(135deg);
}
th.table-head > .row-header--chevron.up::before {
  color: rgb(75, 75, 221);
  transform: rotate(-45deg);
}

th.table-head > .row-header--chevron::before {
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  content: "";
  color: #c5c5c5;
  display: inline-block;
  height: 0.25rem;
  cursor: pointer;
  width: 0.25rem;
  left: 0.095rem;
  top: 0.095rem;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
}

.row-head {
  font-size: 1rem;
}

.row-body {
  width: 100%;
  position: relative;
}

.row-message {
  display: block;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 0.9rem;
  color: #888;
}

.row-message span {
  color: #000000;
}

/* header */

.header-table-utility {
  display: flex;
}

.header-table-utility > div {
  flex: 1;
}

.header-table-utility > .search-wrapper {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

.header-table-utility .dot {
  margin: 2px;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 1rem;
  background-color: #969696;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
}

.header-table-utility .dot:hover {
  background-color: green;
}

.header-table-utility input.table-search-box {
  padding: 0.9rem 1rem;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 0 0.5rem 0 0.5rem;
  height: 1rem;
}

.table-search-box:focus,
.table-search-box:active,
.table-search-box:hover {
  outline: none;
}

.pagination-wrapper {
  overflow: auto;
  padding: 0 0 0.5rem 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  align-items: center;
  justify-self: center;
  max-width: 480px;
  z-index: 2;
}

.pagination-wrapper span.number {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
}

.pagination-wrapper span {
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin: 0.25rem 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.pagination-wrapper span.number.active {
  background: #969696;
  color: white;
  border-color: #969696;
}

.dropdown-entries select {
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
  width: 6rem;
  margin: 0 0.5rem;
  height: 3rem;
  text-align: center;
}

.dropdown-entries select:focus,
.dropdown-entries select:active,
.dropdown-entries select:hover {
  outline: none;
}

.dropdown-entries {
  font-size: 0.9rem;
  color: #888;
  padding: 0 0.5rem;
}

.dropdown-entries input::-webkit-outer-spin-button,
.dropdown-entries input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.dropdown-entries input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
  .dropdown-entries span {
    display: none;
  }
}
